<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Kieran Patel http://kajp.im">

    <link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, Roboto,Helvetica Neue, sans-serif;
        }

        h1 {
            font-weight: 400;
        }
    </style>

    <title>Gourl</title>
</head>
<body>
    <div class="clearfix mxn2">
        <div class="col-8 px2 mx-auto">
            <h1>URL Shortener</h1>
            {{ yield }}
        </div>
    </div>
</body>
</html>
